<div class="container text-center">
  <div  style='display: inline;'>
  <h1 >Cocktails </h1>
  <%= link_to "Create cocktail" , new_cocktail_path, class: 'btn btn-success'%>
   <%= link_to "Random cocktail" , cocktail_path(Cocktail.all.sample), class: 'btn btn-success'%>
</div>
<div class="row">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail), class: 'card-link'  do%>
      <div class="col-xs-12 col-sm-4">
        <% if cocktail.photo? %>
          <div class="card"
          style="background-image: url('<%= cl_image_path cocktail.photo.path, height: 300, width: 400, crop: :fill %>')">
        <% else %>
          <div class="card" style="background-color: #bbb">
        <% end %>
            <div class="card-category"><%= cocktail.name.capitalize%></div>
            <div class="card-description"></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>
