<div class="container">
<h1>  <%= @cocktail.name.capitalize %></h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%=f.input :description  %>
  <%=f.input :ingredient_id, collection: Ingredient.all  %>
  <%= f.submit "Add dose", class: 'btn btn-primary' %>
  <%= link_to 'Back', cocktails_path, class: 'btn btn-danger' %>
<% end %>
<div class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <% ingredient = Ingredient.find(dose.ingredient_id) %>
    <li class="list-group-item">
      <h4 class="list-group-item-heading"><%= ingredient.name %></h4>
      <p class="list-group-item-text"><%= dose.description %></p>
    </li>
    <% end %>
</div>
</div>


