<div class="container ">
<div class="text-center">
  <h1>  <%= @cocktail.name.capitalize %></h1>
    <% if @cocktail.photo? %>
    <%= cl_image_tag @cocktail.photo.path, class: "img-thumbnail", width: 400, height: 600 %>
    <% end %>
</div>
<div class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <% ingredient = Ingredient.find(dose.ingredient_id) %>
    <li class="list-group-item item">
      <h4 class="list-group-item-heading"><%= dose.description %> of <%= ingredient.name %>
      <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, cocktail_dose_path( @cocktail, dose), class: 'btn btn-danger del ' , method: :delete, data: { confirm: 'Are you certain you want to delete this?' }  %></h4>
    </li>
    <% end %>
</div>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.error_notification %>
  <%=f.input :description  %>
  <%=f.input :ingredient_id , collection: Ingredient.all  %>
  <%= f.submit "Add dose", class: 'btn btn-primary' %>
  <%= link_to 'Back', cocktails_path, class: 'btn btn-danger' %>
<% end %>
</div>


